# Ver-Ctrl
.git/
.gitignore
.vsignore
.npmignore

# Dependancies
node_modules/
package.json

# Program Env/OS
.ENV/
.env/

# Dev Env
.vscode/
.workspace-ajc/
*.conf
.prettierrc
.prettierrc
.markdownlintrc
.markdownlint.jsonc
.jsbeautifyrc
.jsbeautifyrc.json
.eslintrc.json


# Testing & Debugging
.Cache/
.Tmp/
.log/
*.log
*.test.js